@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 615px;
    height: 600px;
    margin: auto;
    background-color: black;
    margin-top: 110px;
    font-family: 'Roboto', sans-serif;
}

.box h3 {
    font-weight: 600;
    color: white;
    padding: 20px 0px 20px 40px;
    font-size: 22px;
    
}

.form form{
    display: flex;
    flex-direction: column;
}

input {
    width: 86%;
    height: 60px;
    padding-left: 16px;
    font-size: 20px;
    color: rgb(28, 27, 27);
    outline: none;
    margin: 10px 40px;
}

.done {
    width: 30px;
    margin-right: 20px;
}

.lion span {
    border-bottom: 1px solid white;
}

label {
    color: white;
    position: absolute;
    padding-top: 25px;
    font-size: 17px;
}

.button {
    text-align: center;
    margin: 30px 0px;
}

.button button {
    width: 192px;
    height: 55px;
    border: 3px solid white;
    color: white;
    background-color: transparent;
    font-size: 21px;
}
